<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap Carousel  -->
  <title>Cryptographic Algorithms</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body id="crypto" data-target=".navbar" data-spy="scroll" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Team 2</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#crypto">Cryptographic Algorithms</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Students
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Sanhita Kumari</a></li>
            <li><a>Aishwarya Krishnan</a></li>
            <li><a>Jeffrey Kozik</a></li>
            <li><a>Vivek Kapur</a></li> 
          </ul>
        </li>
        <li><a href="#vigenere">Vigenere Cipher</a></li>
        <li><a href="#des">DES Encryption</a></li>
        <li><a href="#rsa">RSA</a></li>
        <li><a href="#md5">md5 Encryption</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="topcara" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#topcara" data-slide-to="0" class="active"></li>
      <li data-target="#topcara" data-slide-to="1"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/static/images/cara2.jpg" width="1200" height="600">
        <div class="carousel-caption">
          <p>Cryptography is the study of communications that are secured. A cipher (cryptographic algorithm) is used for encryption and decryption and is a mathematical set of operation. A cryptographic algorithm usually consists of a plain text and a key.</p>
          <p>Encryption essentially is used to turn online private text into "your eyes only" text. Ensuring that your personal information is encrypted while being over through the internet is crucial.</p>
        </div>      
      </div>

      <div class="item">
        <img src="/static/images/cara3.jpg" width="1200" height="600">
        <div class="carousel-caption">
          <span>Securing communication and transfers over the web prevents tampering and misuse of that information. Hence, cryptography plays an important role in our day to day web transactions. When layers of cryptograhic algorithms are applied to sensitive data, it becomes impossible for someone to read it and modify it. Cryptographic keys, digital certificates, and cryptographic libraries all help acheive this goal.</span>
        </div>      
      </div>
    </div>

    <a class="left carousel-control" href="#topcara" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Backward</span>
    </a>
    <a class="right carousel-control" href="#topcara" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Forward</span>
    </a>
</div>

<div id="vigenere" class="container text-center">
    <h3>VIGENERE CIPHER</h3>
    <br>
    <p>Vigenere cipher only encrypts alphabetic text by using multiple embedded Caesar ciphers. In this cipher, the key is polyalphabetical.</p>
    <br>
    <p>Submit the text file.</p>
    <form action="/vigenere">
      <input type="file" id="myFile" name="filename">
      <p> Submit the key you want to use.</p>
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>
    <br><br>
    <a class="et_pb_button" title="encrypt" href="#">ENCRYPT</a><a class="et_pb_button" title="decrypt" href="#">DECRYPT</a>
</div>

<div id="des" class="back text-center">
  <h3>DES ENCRYPTION</h3>
  <br>
  <p>The data encryption standard encrypts groups of 64 message bits. The keys used for DES are also 64 bits, increasing complexity as well as efficiency. Encryption of text, images, as well as videos are possible with DES.</p>
  <br>
  <p>Submit the required file.</p>
  <form action="/des">
    <input type="file" id="myFile" name="filename">
    <p> Submit the key you want to use.</p>
    <input type="file" id="myFile" name="filename">
    <input type="submit">
  </form>
  <br><br>
  <a class="et_pb_button" title="encrypt" href="#">ENCRYPT</a><a class="et_pb_button" title="decrypt" href="#">DECRYPT</a>
</div>

<div id="rsa" class="container text-center">
  <h3>RSA</h3>
  <br>
  <p>The difference in Rivest-Shamir-Adleman encryption is that the key is public. But, if a message is encrypted with that key, it is only possible to decrypt using another private key.</p>
  <br>
  <p>Submit the required file.</p>
  <form action="/rsa">
    <input type="file" id="myFile" name="filename">
    <p> Submit the key you want to use.</p>
    <input type="file" id="myFile" name="filename">
    <input type="submit">
  </form>
  <br><br>
  <a class="et_pb_button" title="encrypt" href="#">ENCRYPT</a><a class="et_pb_button" title="decrypt" href="#">DECRYPT</a>
</div>

<div id="md5" class="back text-center">
  <h3>md5 ENCRYPTION</h3>
  <br>
  <p>The message digest algorithm 5 uses hash algorithm which creates a 128 bit value from any input. Its output is always a fixed length. Encrypting text, images, and videos is also supported and widely used by md5.</p>
  <br>
  <p>Submit the required file.</p>
  <form action="/md5" method="POST" enctype="multipart/form-data">
    <input type="file" id="myFile" name="md5file">
    <input class="et_pb_button" type="submit" value="HASH">
  </form>

</div>


<footer class="text-center">
  <a class="up-arrow" href="#crypto" data-toggle="tooltip" title="back up">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</footer>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
  $(".navbar a, footer a[href='#crypto']").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 700, function(){
        window.location.hash = hash;
      });
    }
  });
})
</script>

</body>
</html>
